@model LanguageModel
<form id="selectLanguage" action="@Url.Action("SetLanguage","Language",new { returnUrl=Context.Request.Path })"
      method="post" class="form-horizontal" role="form">
    <select name="culture" onchange="this.form.submit()">
        @foreach (var language in Model.Languages)
        {
            if (Model.CurrentLanguage.Id == language.Id)
            {
                <option selected value="@language.Key">
                    @language.Name
                </option>
            }
            else
            {
                <option  value="@language.Key">
                    @language.Name
                </option>
            }
        }
    </select>
</form>